[submodule ".registry"]
	path = .registry
	url = https://github.com/urswilke/urswilke.r-universe.dev
	branch = HEAD
[submodule "crosstabser"]
	path = crosstabser
	url = https://codeberg.org/urswilke/crosstabser
[submodule "datadaptor"]
	path = datadaptor
	url = https://codeberg.org/urswilke/datadaptor
[submodule "ggbenjamini"]
	path = ggbenjamini
	url = https://codeberg.org/urswilke/ggbenjamini
