[submodule ".registry"]
	path = .registry
	url = https://github.com/urswilke/urswilke.r-universe.dev
	branch = HEAD
[submodule "pyramidi"]
	path = pyramidi
	url = https://github.com/urswilke/pyramidi
